.skills-layout {
  display: flex;
  justify-content: space-between;
}

.stack {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-right: 20px;
}

.stack-left {
  flex: 1;
}

.stack-right {
  flex: 1;
}

.courses {
  flex: 1;
  padding-right: 20px;
  line-height: 30px;
  text-align: justify;
}

.stack-logo-container {
  display: flex;
  align-items: center;
  padding: 15px;
}

.logo-img {
  margin-right: 20px;
}

.logo-name {
  border-bottom: solid;
  width: 200px;
}

.redirect-link {
  font-weight: 400;
  color: hsl(240deg 60% 25%);
  text-decoration: none;
}

.redirect-link:hover {
  color: #db3056;
  transition: all 0.1s;
  text-decoration: underline;
}

.small-heading {
  color: hsl(240deg 60% 25%);
}

.courses-subsection {
  display: block;
}

.subsection {
  margin-bottom: 100px;
}

@media (max-width: 1024px) {
  .skills-layout {
    display: block;
  }

  .stack {
    display: flex;
    padding-right: 0;
    padding: 0 20px;
  }

  .courses {
    padding: 10px 30px;
  }

  .subsection {
    margin-bottom: 50px;
  }
}

@media (max-width: 700px) {
  .skills-layout {
    display: block;
  }

  .stack {
    display: block;
    padding-right: 0;
    padding: 0 20px;
  }

  .courses {
    padding: 10px 30px;
  }

  .subsection {
    margin-bottom: 50px;
  }
}
