.skills-layout {
  display: flex;
  justify-content: space-between;
}

.stack {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-right: 20px;
}

.stack-left {
  flex: 1;
}

.stack-right {
  flex: 1;
}

.courses {
  flex: 1;
  padding-left:20px;
  line-height: 30px;
  text-align: justify;
}

.stack-logo-container {
  display: flex;
  align-items: center;
  padding: 15px;
}

.logo-img {
  margin-right: 20px;
}

.logo-name {
  border-bottom: solid;
  width: 200px;
}

.redirect-link {
  font-weight: 400;
  color: #0802a3;
  text-decoration: none;
}

.redirect-link:hover {
  color: #db3056;
  transition: all 0.1s;
  text-decoration: underline;
}

.small-heading {
  color: #0802a3;
}

.courses-subsection {
  display: block;
}

.subsection {
	margin-bottom: 100px;
}
