.container {
  margin: 0;
  padding-top: 50px;
  max-width: 1000px;
  opacity: 0;
  animation: fade-in-right ease 0.5s forwards;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.heading {
  color: #0802a3;
}