.heading {
  color: hsl(240deg 60% 25%);
  font-family: 'Playfair Display';
  font-size: 45px;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.container {
  margin-bottom: 10rem;
}

.container h1 {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .container {
    margin: 5rem 0;
  }
}
