.heading {
  color: hsl(240deg 60% 25%);
  font-family: 'Playfair Display';
  font-size: 45px;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.container {
  padding-bottom: 7rem;
	padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container h1 {
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .container {
    padding: 0;
  }

  .container h1 {
    padding: 0;
  }

  .heading {
    font-size: 50px;
    margin: 3rem 0;
    padding: 0;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0;
  }

  .container h1 {
    padding: 0;
  }

  .heading {
    font-size: 35px;
    margin: 3rem 0;
    padding: 0;
  }
}
