.container {
  display: flex;
  justify-content: space-around;
}

.form-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.text-container {
  display: block;
  flex: 1;
  line-height: 30px;
}

.text-wrapper {
  display: block;
}

.text-subsection {
  display: flex;
}

.connect-subsection {
  display: flex;
}

.text-paragraph {
  margin: 0;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.connect-img {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  width: 100%;
  height: 100%;
}

.connect-btn {
  cursor: pointer;
}

.email-link {
  text-decoration: none;
  color: hsl(240deg 60% 25%);
}

.email-btn {
  font-family: 'League Spartan';
  font-weight: 500;
  font-size: 16px;
  padding: 4px 8px;
  background-color: white;
  border-radius: 6px;
  border: solid 2px;
  border-color: hsl(240deg 60% 25%);
  cursor: pointer;
  transition: 0.4s;
}

.email-btn:hover {
  background: #f1ccd4;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input,
textarea,
button {
  font-family: 'League Spartan';
  font-size: 16px;
  display: block;
  margin-bottom: 16px;
  padding: 4px 8px;
  line-height: 30px;
  border-radius: 6px;
  border: 1px solid rgb(162, 162, 162);
}

.submit-button {
  /* color: #0802a3; */
  /* background-color: #e8e8f3; */
  /* border: 1px solid hsl(240deg 30% 80%); */
  background: hsl(240deg 60% 25%);
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

.submit-button:hover {
  background: #db3056;
}

@media (min-width: 1500px) {
  .text-wrapper {
    margin-left: 100px;
  }
}

@media (max-width: 1024px) {
  .container {
    display: block;
  }

  .wrapper {
    width: 90%;
  }

  .text-paragraph,
  input,
  textarea,
  button {
    font-size: 22px;
  }
}

@media (max-width: 700px) {
  .container {
    display: block;
		padding: 0 15px;
  }

  .wrapper {
    width: 90%;
  }

  .text-paragraph,
  input,
  textarea,
  button {
    font-size: 18px;
  }

  .connect-subsection {
    display: block;
  }

  .connect-img {
    padding: 20px 0;
  }
}
