.container {
  display: flex;
  justify-content: space-around;
}

.form-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.text-container {
  display: block;
  flex: 1;
  line-height: 30px;
}

.text-subsection {
  display: flex;
}

.text-paragraph {
  margin: 0;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.connect-img {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  width: 100%;
  height: 100%;
}

.connect-btn {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input,
textarea,
button {
  font-family: 'League Spartan';
  font-size: 16px;
  display: block;
  margin-bottom: 16px;
  padding: 4px 8px;
  line-height: 30px;
  border-radius: 6px;
  border: 1px solid rgb(162, 162, 162);
}

.submit-button {
  /* color: #0802a3; */
  /* background-color: #e8e8f3; */
  /* border: 1px solid hsl(240deg 30% 80%); */
  background: hsl(240deg 60% 25%);
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

.submit-button:hover {
  background: #db3056;
}

@media (max-width: 1024px) {
	.container {
		display: block;
	}

	.wrapper {
		width: 90%;
	}
}

@media (max-width: 700px) {
	.container {
		display: block;
	}

	.wrapper {
		width: 90%;
	}
}


