.carousel {
  position: relative;
  border-radius: 10px;
  height: 700px;
  max-width: 950px;
  margin: auto;
  margin-top: 8rem;
  overflow: hidden;
  box-shadow: 1em 0 0.5em rgba(182, 180, 180, 0.1),
    -1em 0 0.5em rgba(182, 180, 180, 0.1);
  border-radius: 5px;
}

.carousel img {
  width: 99%;
  height: 99%;
}

.slide-direction {
  display: flex;
  justify-content: space-between;
}

.left,
.right {
  background-color: hsl(240deg 60% 25%);
  color: white;
  padding: 1px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 5px;
  height: 26px;
  width: 26px;
  opacity: 0.6;
  cursor: pointer;
}

.left:hover,
.right:hover {
  background-color: #db3056;
  opacity: 1;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dot {
  background-color: hsl(240, 4%, 53%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background-color: hsl(240deg 60% 25%);
}
